@use "./modules/" as m;

body {
  font-family: m.$font-body;
}

// navbar
.navbar {
  height: fit-content;
  padding: 1rem;

  &__cols {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__music-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & * {
      line-height: 1;
    }
  }

  &__music-state {
    font-size: var(--step--2);
    font-weight: m.weight(light);
    color: hsla(from m.color(neutral__black) h s l / 0.5);
  }

  &__music-title {
    font-size: var(--step-1);
    font-weight: m.weight(bold);
    text-transform: capitalize;
  }

  &__music-artist {
    font-weight: m.weight(medium);
    font-size: var(--step--1);
    color: hsla(from m.color(neutral__black) h s l / 0.75);
  }

  &__btn {
    background: transparent;
    border: none;
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    & img {
      max-width: 2.5rem;
    }
  }
}

// Player
.player {
  padding: 1rem;

  &__thumbnail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 1rem;
  }

  &__thumbnail {
    box-shadow: 0.5rem 0.5rem 0.75rem
      hsla(from m.color(neutral__black) h s l / 0.25);
    border-radius: 0.5rem;
  }

  &__progress {
    width: 100%;
    max-width: 100%;
    height: 0.5rem;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    border-radius: 5rem;
    background-color: hsla(from m.color(primary__blue-500) h s l / 0.25);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
      height: 0.75rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      border-radius: 5rem;
      background: linear-gradient(
        90deg,
        m.color(primary__blue-600),
        m.color(primary__cyan-500)
      );
    }
  }

  &__time-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    font-size: var(--step--1);
  }

  &__controls {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  &__controls--control {
    background: transparent;
    display: block;
    cursor: pointer;
    border: none;
    // border: 0.125rem solid red;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, transparent, transparent);
    transition: 0.25s ease;

    &:hover {
      box-shadow: 5px 5px 20px hsla(from m.color(neutral__black) h s l / 0.15);
      scale: 1.1;

      & img {
        scale: 1.2;
        opacity: 0.75;
        rotate: 360deg;
      }
    }

    & img {
      transition: 0.25s ease;
      max-width: 1.5rem;
    }
  }

  .control-play {
    background: linear-gradient(
      m.color(primary__blue-600) 5%,
      m.color(primary__cyan-500)
    );
    background-size: cover;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 2rem;
    }
  }
}
